<h1>Listing stocks</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Day</th>
    <th>Open</th>
    <th>High</th>
    <th>Low</th>
    <th>Close</th>
    <th>Volume</th>
    <th>Adjusted close</th>
  </tr>

<% for stock in @stocks %>
  <tr>
    <td><%=h stock.company_id %></td>
    <td><%=h stock.day %></td>
    <td><%=h stock.open %></td>
    <td><%=h stock.high %></td>
    <td><%=h stock.low %></td>
    <td><%=h stock.close %></td>
    <td><%=h stock.volume %></td>
    <td><%=h stock.adjusted_close %></td>
    <td><%= link_to 'Show', stock %></td>
    <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
    <td><%= link_to 'Destroy', stock, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New stock', new_stock_path %>
